<div class="plans">
    <label>Plans</label>
    <h5 ng-if="!$ctrl.trip.plans.length">You have no plans.</h5>
    <a ui-sref="new-plan({tripId: +tripId + 1})" ng-if="!isHome" class="btn btn-default">Add Plan</a>
    <div class="clearfix item item--plan" ng-if="$ctrl.trip.plans.length" ng-repeat="plan in $ctrl.trip.plans track by $index">
        <button class="btn btn-danger item__btn item__btn--remove" ng-if="!isHome" ng-click="removePlan($index)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <a ui-sref="edit-plan({tripId: +tripId + 1, planId: +$index + 1})"
           ng-if="!isHome"
           class="btn btn-success item__btn item__btn--edit">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <div class="item__field col-sm-6">
            <p>Type:</p>
            <h4>{{ planTypes[plan.type] }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>Description:</p>
            <h4>{{ plan.description }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>Start date:</p>
            <h4>{{ plan.startDate | date }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>End date:</p>
            <h4>{{ plan.endDate | date }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>Start time:</p>
            <h4>{{ plan.startTime | date : "shortTime" }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>End date:</p>
            <h4>{{ plan.endTime | date : "shortTime" }}</h4>
        </div>
    </div>
</div>