$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

a{
  color: inherit;
  outline: 0;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus{
    @extend a;
  }

}

//.trips{
//
//  &__item{
//    background: #f0f0f0;
//    margin: 20px 0;
//    padding-top: 15px;
//    padding-bottom: 15px;
//    position: relative;
//
//    &-remove{
//      position: absolute;
//      right: 15px;
//      top: 15px;
//      z-index: 100;
//    }
//
//    &-field p{
//      font-weight: 700;
//    }
//  }
//
//}

.item{
  background: #f0f0f0;
  margin: 20px 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  &__btn{
    position: absolute;
    z-index: 100;
    top: 15px;

    &--remove{
      right: 15px;
    }

    &--edit{
      right: 70px;
    }
  }

  &__field p{
    font-weight: 700;
  }

  &--plan{
    background: #d0d0d0;
  }
}