<div class="container">
    <div class="plan">
        <h2>{{ title }}</h2>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" ng-model="plan.type">
                <option ng-repeat="(key, value) in planTypes" value="{{key}}">{{value}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="plan.description" placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group col-sm-6">
            <label>Start Date</label>
            <div uib-datepicker ng-model="plan.startDate" datepicker-options="datepickerOptions"></div>
        </div>
        <div class="form-group col-sm-6">
            <label>End Date</label>
            <div uib-datepicker ng-model="plan.endDate" datepicker-options="endDataDatepickerOptions"></div>
        </div>
        <div class="form-group col-sm-6">
            <label>Start Time</label>
            <div uib-timepicker ng-model="plan.startTime"></div>
        </div>
        <div class="form-group col-sm-6">
            <label>End Time</label>
            <div uib-timepicker ng-model="plan.endTime"></div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-if="!isEditing" ng-click="create()">Create Plan</button>
            <button class="btn btn-primary" ng-if="isEditing" ng-click="update()">Update Plan</button>
            <a ui-sref="home-page" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>