<div class="container">
    <div class="trip">
        <h2>{{ title }}</h2>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="trip.name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label>Destination</label>
            <input type="text" class="form-control" ng-model="trip.destination" placeholder="Enter Destination">
        </div>
        <div class="form-group col-sm-6">
            <label>Start Date</label>
            <div uib-datepicker ng-model="trip.startDate" datepicker-options="datepickerOptions"></div>
        </div>
        <div class="form-group col-sm-6">
            <label>End Date</label>
            <div uib-datepicker ng-model="trip.endDate" datepicker-options="endDataDatepickerOptions"></div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="trip.description" placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-if="!isEditing" ng-click="create()">Create Trip</button>
            <button class="btn btn-primary" ng-if="isEditing" ng-click="update()">Update Trip</button>
            <a ui-sref="home-page" class="btn btn-danger">Cancel</a>
        </div>
        <div class="form-group" ng-if="isEditing">
            <plan-list trip="trip"></plan-list>
        </div>
    </div>
</div>