<div class="trips">
    <h2>{{ title }}</h2>
    <a class="btn btn-primary" ui-sref="new-trip">Add New Trip</a>
    <h3 ng-if="!trips.length">You have no trips.</h3>
    <div class="clearfix item" ng-if="trips.length" ng-repeat="trip in trips track by $index">
        <button class="btn btn-danger item__btn item__btn--remove" ng-click="remove($index)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <a ui-sref="edit-trip({id: $index + 1})" class="btn btn-success item__btn item__btn--edit">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <div class="item__field col-sm-6">
            <p>Trip Name:</p>
            <h4>{{ trip.name }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>Destination:</p>
            <h4>{{ trip.destination }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>Start date:</p>
            <h4>{{ trip.startDate | date }}</h4>
        </div>
        <div class="item__field col-sm-6">
            <p>End date:</p>
            <h4>{{ trip.endDate | date }}</h4>
        </div>
        <div class="item__field col-xs-12">
            <p>Trip Description:</p>
            <h4>{{ trip.description }}</h4>
        </div>
        <div class="item__field col-xs-12">
            <plan-list trip="trip"></plan-list>
        </div>
    </div>
</div>